@import '../../../../useStyle';
@import '../../../home/home/home.component.scss';
.divider{
  height: 100%;
  width: 3px;
  border: double #a0a0a0;
  margin: auto;
}
.text{
  h2{
    margin-bottom: 2rem;
  }
}
.login{
  button{
    color: $buttonBackground;
    background: transparent;
    transition: $transition;
    &:hover{
        color:#fff;
        background-color: $buttonBackground;
    }
}
}
@media screen and (max-width: 767px) {
  .divider{
    height: 3px;
    width: 100%;
    margin: 15px 0;
  }
}
