<!-- start contact -->
 <section>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="content">
            <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
            <p>Details to details is what makes Hexashop different from the other themes.</p>
            <div class="inputs d-flex">
              <input type="text" placeholder="your name" class="form-control me-3">
              <input type="text" placeholder="your name" class="form-control me-3">
              <a href="#"><i class="fa-solid fa-arrow-pointer text-center border border-secondary"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="content">
                <h6>Store Location:</h6>
                <p>Sunny Isles Beach, FL 33160, United States</p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="content">
                <h6>Work Hours:</h6>
                <p>07:30 AM - 9:30 PM Daily</p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="content">
                <h6>Phone:</h6>
                <p>010-020-0340</p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="content">
                <h6>Email:</h6>
                <p>info@company.com</p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="content">
                <h6>Office Location:</h6>
                <p>North Miami Beach</p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="content">
                <h6>Social Media:</h6>
                <a href="#">FaceBook,</a>
                <a href="#">Linkedin,</a><br>
                <a href="#">Instagram,</a>
                <a href="#">Behance</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact -->

  <!-- start footer -->
  <footer class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <img src="assets/img/white-logo.png" alt="logo">
          <div class="content text-white mt-4">
            <h6>16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</h6>
            <h6>hexashop@company.com</h6>
            <h6>010-020-0340</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="content text-white mt-4">
            <h5>Shopping & Categories</h5>
            <ul class="list-unstyled">
              <li><a href="#">Men’s Shopping</a></li>
              <li><a href="#">Women’s Shopping</a></li>
              <li><a href="#">Electronic’s Shopping</a></li>
              <li><a href="#">Jalwery’s Shopping</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="content text-white mt-4">
            <h5>Useful Links</h5>
            <ul class="list-unstyled">
              <li><a routerLink="/home">Homepage</a></li>
              <li><a routerLink="/about">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="content text-white mt-4">
            <h5>Help & Information</h5>
            <ul class="list-unstyled">
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 mt-5">
          <div class="line"></div>
          <div class="under-footer text-center text-white mt-3">
            <p>Copyright © 2023 HexaShop Co., Ltd. All Rights Reserved</p>
            <p>Code By: <a href="https://github.com/MohamedElyamani">Mohamed Elyamani</a></p>
          </div>
        </div>
      </div>
    </div>

  </footer>
  <!-- end footer -->
